@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

@font-face {
	font-family: 'Pedra';
	src: url('font/pedra.TTF'); /* IE9 Compat Modes */
	url('font/pedra.TTF')  format('truetype'); /* Safari, Android, iOS */
}

.no-margin {
	margin:0 !important;
}

.txt-center {
	text-align:center;
}

.solemade-footer {
	margin-top:100px;
	margin-bottom:20px;
}

.mailing-list-input {
	padding:5px !important;
	border:#000 1px solid !important;
	font-size:0.9em !important;
	height:15px !important;
	margin-top:1px !important;
}

.mailing-list-button {
	padding:3px;
	background-color:#545454;
	border:none;
	color:#FFF;
	font-size:2em;
	margin-left:5px;
	cursor:pointer;
}

.footer-slogan {
	font-size:2.5em;
	font-family:"Pedra", "Dancing Script", Arial;
	color:#900;
}

.gray-border-top {
	border-top:#CCC 1px solid;
}

.solemade-footer-links {
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:70% !important;
}

.solemade-footer-links div {
	text-align:center;
	font-size:1.1em;
	border-right:#000 1px solid;
}

.solemade-footer-links div:last-child {
	border-right:none;
}

.solemade-footer-links a {
	color:#999;
}

.social-media-icons img {
	width:30px;
}

@media (max-width: 768px) {
	.media-top-head {
		padding-top:20px;
	}

	.solemade-footer-links div {
		border-right:none;
	}
}

.attachment-shop_thumbnail {
	width:60px !important;
}

.menu-item a {
	font-size:1.7em !important;
}

.header-area {
	background: #FFF !important;
}

.header-type-variant3 {
	background: #FFF !important;
	border-top:none !important;
}

#top-cart > a {
	font-size:2em !important;
}

.bag-icon {
	width:20px !important;
	margin-top:-5px;
}

.menu-item a:hover {
	border:none !important;
}

.footer-copyright {
	text-align: center;
	font-size:1.2em;
	margin-bottom:20px;
}