@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

.txt-center {
	text-align:center;
}

.solemade-footer {
	margin-top:30px;
	margin-bottom:20px;
}

.mailing-list-input {
	padding:5px !important;
	border:#3F4060 2px solid !important;
	font-size:1.4em !important;
	height:37px !important;
	font-style:italic !important;
	margin-top:1px !important;
}

.mailing-list-button {
	padding:15px;
	background-color:#3F4060;
	border:none;
	color:#FFF;
	font-size:2em;
	margin-left:5px;
	cursor:pointer;
}

.footer-slogan {
	font-size:3em;
	font-family:"Dancing Script", Arial;
	color:#900;
	font-weight:700;
	padding-top:20px;
}

.gray-border-top {
	border-top:#CCC 3px solid;
}

.solemade-footer-links {
	margin-top:15px;
	margin-bottom:30px;
}

.solemade-footer-links div {
	text-align:center;
	font-size:1.3em;
}